table.main{
		table-layout: fixed;
  		width: 100%;
	}
tr.strike{
		text-decoration: line-through;
	}
tr.rowfont{
	font-weight: 600;
}
th{
		font-weight: bold;
		background: lightgrey;
	}
textarea{
		height: 104px;
		width: 400px;
}
tfoot{
	background: lightgray;
}

.size-color{
	font-size: 14px;
	color: red;
}
.row{
	width: 200;
}
